<div class="row">
  <ul class="breadcrumbs">
    <li><%= @user.username %></li>
    <li><%= @group.name %></li>
    <li><%= @topic.name %></li>
    <li class="current"><%= @sub_topic.name %></li>
  </ul>
</div>
