/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require foundation_and_overrides

 */

.link_block {
  font-size: 100%;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
}

.link_block h1 {
  font-size: 140%;
  margin: 0;
  padding: 0 7px 0 7px;
  background-color: #ffd5cc;
  border-bottom: 1px solid black;
  }
.link_block p {
  margin: 0;
  padding: 0 7px 0 7px;
  background-color: #e1f2ea;
  border-bottom: 1px solid black;
  max-height: 140px;
  overflow: scroll;

}
.link_block a {
  margin: 0;
  padding: 0 7px 0 7px;
  background-color: #fff;
  color: #c63636;
}
 {
  height: 100px;
  min-height: 20px;
}

.link_name_show {
    max-height: 40px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    transition: max-height 0.15s ease-out !important;
}

.link_name_show:hover {
    max-height: 500px !important;
    transition: max-height 0.25s ease-in !important;
    overflow: visible !important;
    white-space: normal !important;
}

.link_description_show {
    max-height: 120px !important;
    overflow: hidden !important;
    transition: max-height 0.15s ease-out !important;
}

.link_description_show:hover {
    max-height: 900px !important;
    transition: max-height 0.25s ease-in !important;
    overflow: visible !important;
}
